.theme-light {
    --bg-primary: theme('colors.white');
    --bg-secondary: theme('colors.gray.50');
    --bg-tertiary: theme('colors.gray.500');
    --bg-ternary: theme('colors.indigo.700');
    --bg-ternary-hover: theme('colors.indigo.800');
    --text-primary: theme('colors.gray.700');
    --text-secondary: theme('colors.gray.500');
    --text-tertiary: theme('colors.gray.300');
    --text-ternary: theme('colors.blue.500');
    --text-ternary-opposite: theme('colors.white');
    --border-secondary: theme('colors.gray.200');
    --border-primary: theme('colors.gray.200');
}

.theme-dark {
    --bg-primary: #2d333b;
    --bg-secondary: #22272e;
    --bg-tertiary: theme('colors.gray.500');
    --bg-ternary: theme('colors.indigo.700');
    --bg-ternary-hover: theme('colors.indigo.800');
    --text-primary: theme('colors.white');
    --text-secondary: theme('colors.gray.300');
    --text-tertiary: theme('colors.gray.500');
    --text-ternary: theme('colors.blue.500');
    --text-ternary-opposite: theme('colors.white');
    --border-primary: theme('colors.gray.700');
    --border-secondary: theme('colors.gray.600');
}

[x-cloak] { display: none !important; }
